@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --main-color: #ffb600;
  --bg: #020202;
  --white: #fff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header .logo img {
  height: 3rem;
}

header .navbar a {
  margin: 0 7rem;
  font-size: 1.6rem;
  color: #fff;
}

header .navbar a:hover {
  color: var(--white);
  border-bottom: 0.1rem solid var(--white);
  padding-bottom: 0.5rem;
}

.icons .fa-whatsapp,
.fa-instagram {
  color: var(--main-color);
  font-size: 2.5rem;
  margin-right: 7rem;
}
